/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.NoteMenu:after,
.NoteMenu:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.NoteMenu:after {
  border-bottom-color: #ffffff;
  border-width: 10px;
  left: 20%;
  margin-left: 14px;
}
.NoteMenu:before {
  border-bottom-color: #000000;
  opacity: 12%;
  border-width: 12px;
  left: 20%;
  margin-left: 14px;
}
